$primary: #00b161;
$secondary: #999;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$black: #222222;

@mixin backdrop-styles($start-color, $end-color, $end-opacity) {
  height: auto;
  background: linear-gradient(
    180deg,
    rgba($start-color, 0.4) 0%,
    rgba($end-color, $end-opacity) 80%
  );
  background-blend-mode: color-dodge;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
