*,:before,:after {
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

[data-theme="dark"] {
  --body-bg: #242424;
  --bs-body-bg:var(--bs-dark);
  --bs-card-color: #fff 
}

[data-theme="light"] {
  --body-bg: #fff;
}

body {
  background-color: var(--body-bg);
  color: var(--primary);
}
